/* @supports (display: grid) {
    .container {
        display: grid;
    }
} */
@media screen and (min-width: 700px) {
.container{
    /* height:100%; */
    height:100vh;
    display: grid;
    /* max-width:1000px; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(50px,1fr));
    grid-auto-rows: minmax(250px,1fr);
    grid-template-rows: 8vw minmax(42vw,auto) repeat(3,minmax(450px,auto)) 8vw;
    /* grid-template-rows: 5vw 40vw 25vw[image1-start]auto[image1-end image2-start] [image2-end]5vw; */

    /* grid-template-rows: auto; */
    /* justify-content: center; */
    /* align-content: center;CULPRIT HEADDER HIDE */
    grid-gap:3px;
    grid-template-areas: "header header"
                         "cover  cover"
                         "main   side "
                         "image1 image2"
                         "image3 image4"
                         "footer footer"

    /* font-size: 25pt;DON'T MESS CULPRIT HEADDER HIDE */
}

.header{
    grid-area: header;
    background-color: blueviolet;
}

.main-cover {
    grid-area: cover;
    background-color: rgb(113, 137, 240);
    object-fit: cover;

    }

.main {
    grid-area: main;
    background-color: rgb(55, 129, 172);
}

.sidebar {
    grid-area: side;
    background-color: rgb(128, 203, 247);
    }

.image-showcase-1{
    grid-area: image1;
    background-color:rgb(139, 16, 103);
}

.image-showcase-2{
    grid-area: image2;
    background-color:rgb(255, 153, 36);
}

.image-showcase-3{
    grid-area: image3;
    background-color:rgb(68, 131, 79);
}
.image-showcase-4{
    grid-area: image4;
    background-color:rgb(236, 193, 48);
}
.footer {
background-color: rgb(209, 52, 31);
grid-area: footer;

}


/* ============================================================================== */
.img-about {
    width:100%;
    height:auto;
}

}