@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');
/* ====================================================HEADER============================================== */
/* ========================================================================================================= */
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1%;
}

.logo {
    height: 50px;
    /* margin-right: 20px; */
    /* margin: 12px; */
    margin-bottom: 0;
    /* align-self:center; */
  }

nav ul {
	display: flex;
	flex-direction: row;
	/* justify-content: flex-end; */
	/* align-items: center; */
	margin-right: 11px;
}

nav ul li {
	list-style: none;
	align-items: center;
	padding-left: 29px;
	font-size: 26px;
}
/* ====================================================HEADER ENDS============================================== */
/* ========================================================================================================= */

/* ====================================================MAIN-COVER============================================== */
/* ========================================================================================================= */
.hero-hi {
	display: flex;
	justify-content: space-evenly;
	align-items:center;
	/* margin-left: 43em; */
    /* padding: 12em; */
    padding: 0;
	margin-left: 26em;


}
.hero-img {
    background: url(../img/header-bg.jpg) no-repeat left;
    /* object-fit: cover; */
    height: 100%;
    background-size: cover;
}
.hero-hi ul {
    color: #1b1b1b;
    /* position: absolute;
    top: 26%;
    left: 50%; */
    list-style-type: none;
    font-size: 3.5em;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    font-family: 'Lato', sans-serif;
    color: #555555;

  }
  .hero-hi ul li {
    padding: 5px 0;
  }

  .hero-hi ul li:first-child {
    font-size: 0.7em;
  }

  .hero-hi ul li:last-child {
    font-size: 0.5em;
    font-style: italic;
  }


/* ====================================================MAIN COVER ENDS============================================== */
/* ========================================================================================================= */
.main1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
    .media1 {
        min-width: 0;
        margin: 5px;
     }
.about-pic {
            width: 750px;
            max-width: 100%;
            min-height: 380px;
            max-height: 400px;
            transition: 0.5s all ease;
            }
             img:hover {
              transform: scale(0.97);
              transition: 0.5s all ease; }
.about-container {
display: flex;
flex-flow:column wrap;
justify-content: center;
align-items: center;
padding: 5%;
}
.about-container p {
    font-weight: 400;
    line-height: 1.6em;
    font-size:12pt;
    padding:2%;
}
.about-container ul {
display: flex;
flex-direction: row;
justify-content: space-between;
list-style: none;
}

.about-container ul li{
    padding:6%;
    align-self:center;
}

.title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: 'Raleway', sans-serif;
                color: #F27059;
                margin: 5px;
         }


